@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 2%;
}
.clear {
    grid-column-start: span 3;
}
.display {
    font-size: 5em;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    text-overflow: "";
    text-align: right;
    color: white;
}

.hold-display {
    display: flex;
    align-items: center;
    border-radius: .75em;
    background-color: #002500;
    padding-right: 2em;
    padding-left: 2em;
    justify-content: right;
    overflow:hidden;
}

.body {
    display: grid;
    height: 95vh;
    width: 40vw;
    margin: 20px auto;
    grid-template-rows: 1fr 3fr;
    background-color: #2292A4;
    padding: 20px;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    gap: 2vh;
    border-radius: 1em;
}

body {
    margin: 0;  
}

button {
    font-size: 3.2em;
    font-family: 'Roboto', sans-serif;
    background-color: #90f1ef;
    border-radius: 0.5em;
    border-width: 0;
    padding: 0;
}

.operator {
    background-color: #FC7753;
}

.equals {
    background-color: #FC7753;
}

button:hover {
    background-color: white;
}

